body {
    overflow-x: hidden;
}

.nav-wrapper {
    background-color: #000;
    font-family: 'Permanent Marker',  cursive;
}

.brand-logo {
    margin-left: 10px; 
}

.nav-wrapper li a {
    color: #ffffff;
}

.nav-wrapper li a:hover{
    color: grey;
}

.dropdown-content li a{
    color: black;
}

.dropdown-content li a:hover{
    color: grey;
}

.banner {
    width: 100%;
    display: block;
}

.banner > .bannerpic{
    width: 100%;
    display: block;
}

.banner-text{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-text h1 {
    font-size: 170px;
    line-height: 160px;    
    font-weight: 700;
    padding: 0px;
    margin: 0px;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.banner-text p {
    font-size: 48px;
    line-height: 1.5;
    color: white;
    padding: 0px;
    margin: 0px;
    
}

.item-image {
    border-radius: 50%;
    padding: 10px;
}

.item-name {
    font-family: 'Permanent Marker', cursive; 
}

.main{
    background-color: grey;
}

.btn {
    background-color: red;
    font-family: 'Permanent Marker', cursive;
}

.btn:hover {
    background-color: darkred; 
}

.page-footer {
    background-color: #000;
    font-family: 'Permanent Marker',  cursive;
    float: center;
    margin-bottom: 0px;
}

.page-footer .col {
    text-align: center;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* Instagram */
.fa-instagram {
    background: #fb3958;
    color: white; 
}

/* Google */
.fa-google {
    background: #db3236;
    color: white; 
}